.jumbotron {
    padding: 30px;
}

.jumbotron h2 {
    margin-bottom: 0;
}

.container {
    display: flex;
    align-items: stretch;
    max-width: 100%;
}
.regist {
    margin-left: 100px;
}
.delete {
    margin-top: 50px;
    margin-left: 50px;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
