.jumbotron {
    padding: 30px;
}

.jumbotron h2 {
    margin-bottom: 0;
}

.container {
    display: flex;
    align-items: stretch;
    max-width: 100%;
}
.regist {
    margin-left: 100px;
}
.delete {
    margin-top: 50px;
    margin-left: 50px;
}

.noselect {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
