.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.success, .danger {
    text-align: center; 
    order: -1;
    color: red;
    font-size: 30px;
}
#category-blank {
    margin: 22.3px;
    margin-left: 100%;
    margin-right: 100%;
}
.container1 {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    justify-content: center;
}
#kanji {
    font-family: serif;
    font-size: 110px;
    /* justify-content: center; */
    text-align: center;
}
#hints, #blds, #special {
    font-size: 30px;
    writing-mode: vertical-rl;
}
#hints {
    margin-top: 90px;
    justify-content: left;
}
#blds {
    margin-top: 27px;
    justify-content: left;
}
#special {
    justify-content: right;
}
.answer {
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.answer {
    margin-left: 100px;;
    margin-right: 100px;;
}
@media screen and (max-width: 928px) {
    .answer {
        margin-left: 20px;;
        margin-right: 20px;;
    }
}
#blank {
    margin: 52.5px;
}
input, button {
    width: 300px;
    height: 50px;
}

