.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.success,
.danger {
  text-align: center;
  order: -1;
  font-size: 30px;
}
.success {
  color: rgb(213, 0, 0);
}
.danger {
  color: rgb(11, 0, 213);
}
img {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 173px;
}
#category-blank {
  margin: 22.3px;
  margin-left: 100%;
  margin-right: 100%;
}
#kanjinfo {
  display: flex;
  align-items: stretch;
  max-width: 100%;
  justify-content: center;
}
#reading_blank {
  margin: 22px;
  margin-left: 100%;
  margin-right: 100%;
  margin-bottom: 45px;
}
#reading p {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0;
  transform: translateY(20px);
  z-index: 2;
}
#kanji {
  position: relative;
  font-family: serif;
  font-size: 110px;
  text-align: center;
  z-index: 2;
}
#hints,
#blds,
#special {
  font-size: 30px;
  writing-mode: vertical-rl;
}
#hints {
  margin-top: 64px;
  justify-content: left;
}
#blds {
  margin-top: 2px;
  justify-content: left;
}
#special {
  justify-content: right;
}
#answer {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
#answer {
  margin-left: 100px;
  margin-right: 100px;
}
#form {
	padding-bottom: 3rem;
}
#second_left {
  position: fixed;
  font-size: 30px;
	bottom: 0;
  left: calc((100% - 30px) / 2);
}
@media screen and (max-width: 928px) {
  #answer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
#blank {
  margin: 52.5px;
}
input {
  width: 300px;
  height: 50px;
}
#score {
  position: fixed;
  font-size: 30px;
  right: 0;
  top: calc((100% - 30px) / 2);
}
