{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
漢字問題 - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script>
  let kanji_id = "{{ kanji.id }}";
  let suc = "{{ suc }}"
</script>
<script src="{{url_for('static', filename='scripts/answer.js')}}"></script>
<script>
  if (suc) {
    get_answer();
    setTimeout(function() {
      window.location.href = "{{ url_for('app.question') }}";
    }, 2000);
  }
</script>
<div class="wrap">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% if not form %}
        <img src="{{ url_for('static', filename='images/circle1.png')}}" draggable="false" alt="success">
        {% endif %}
      {% endfor %}
    {% else %}
    <div id="category-blank"></div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="">
    {% if form %}
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {% endif %}
    <p id="kanji">{{ kanji.kanji }}</p>
    {% if form %}
    <div class="container1">
      {% if kanji.hints == 'nothing' %}
      <p id="blank"></p>
      {% elif kanji.hints == '地名・建造物' %}
      <p id="blds">{{ kanji.hints }}</p>
      {% else %}
      <p id="hints">{{ kanji.hints }}</p>
      {% endif %}
      <p id="answer">
        {{ form.readings(autofocus=True, autocomplete="off") }}<br />
      </p>
      {% if kanji.sp_char %}
      <p id="special">文字数・読み特殊</p>
      {% else %}
      <p id="blank"></p>
      {% endif %}
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}
