{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
漢字検索 - {{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron">
    <p>漢字検索</p>
</div>
<div>
    <div class="col-lg-12">
        <form method="GET">
            {{ form.csrf_token }}
            {{ render_field(form.kanji) }}
            {{ form.submit() }}
        </form>
    </div>
    <div class="col-lg-12">
        {% if kanji %}
        <table class="table">
            <thead>
                <tr>
                    <th>漢字</th>
                    <th>読み方</th>
                    <th>ヒント</th>
                    <th>文字数・読み特殊</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ kanji.kanji }}</th>
                    <th>{{ kanji.readings}}</th>
                    {% if kanji.hints != 'nothing' %}
                    <th>{{ kanji.hints }}</th>
                    {% else %}
                    <th>なし</th>
                    {% endif %}
                    {% if kanji.sp_char %}
                    <th>◯</th>
                    {% else %}
                    <th>✕</th>
                    {% endif %}
                </tr>  
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

