{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
設定 - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
<div class="regist">
    <h1>設定</h1>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <form method="POST" autocomplete="off">
        {{ form.csrf_token }}
        {{ render_field(form.circle, checked=circle_on) }}
        {{ render_field(form.next_Q_time, value=time) }}
        {{ render_field(form.success_sound, checked=se_on) }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}
